body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.header__btn {
  background-color: transparent;
  border: none;
  padding-right: 50px;
  cursor: pointer;
}

.header__btn:hover {
  color: darkred;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 0 12px;
}

.menu__item:hover {
  color: darkred;
}

.menu__logo {
  margin: 0 auto;
}

.footer {
  background: #F9F9F9;
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  font-size: 22px;
  line-height: 37px;
}

.footer__signup {
  width: 345px;
  margin-left: 30px;
}

.footer__signup-title {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 25px;
}

.footer__signup-text {
  color: #A0A0A0;
  margin-bottom: 60px;
}

.footer__signup-input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #000;
  width: 199px;
}

.footer__btn {
  background-color: #000;
  border: none;
  color: #fff;
  height: 82px;
  width: 82px;
  padding: 20px;
  position: relative;
  top: -339px;
  right: 0px;
  left: 1255px;
  bottom: 0;
  cursor: pointer;
}

.footer__copyright {
  position: relative;
  left: 800px;
  color: #707A7F;
  width: 580px;
}

.footer__copyright-list {
  display: block;
}

.footer__copyright-item {
  display: inline-block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20px;
}

.footer__copyright-item:hover {
  color: #000;
}

.top {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  max-height: 504px;
}

.top__content {
  padding: 193px 0;
  color: #fff;
}

.top__title {
  margin-bottom: 15px;
}

.top__text {
  margin-bottom: 25px;
}

.top__btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.top__btn:hover {
  color: blanchedalmond;
}

.title {
  font-size: 43px;
  line-height: 46px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */