body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}

.title {
  font-size: 43px;
  line-height: 46px;
  font-weight: 400;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.header__btn {
  background-color: transparent;
  border: none;
  padding-right: 50px;
  cursor: pointer;
}

.header__btn:hover {
  color: darkred;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 0 12px;
}

.menu__item:hover {
  color: darkred;
}

.menu__logo {
  margin: 0 auto;
}

.footer {
  background: #F9F9F9;
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  font-size: 22px;
  line-height: 37px;
}

.footer__signup {
  width: 345px;
  margin-left: 30px;
}

.footer__signup-title {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 25px;
}

.footer__signup-text {
  color: #A0A0A0;
  margin-bottom: 60px;
}

.footer__signup-input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #000;
  width: 199px;
}

.footer__btn {
  background-color: #000;
  border: none;
  color: #fff;
  height: 82px;
  width: 82px;
  padding: 20px;
  position: relative;
  top: -339px;
  right: 0px;
  left: 1258px;
  bottom: 0;
  cursor: pointer;
}

.footer__copyright {
  position: relative;
  left: 800px;
  color: #707A7F;
  width: 580px;
}

.footer__copyright-list {
  display: block;
}

.footer__copyright-item {
  display: inline-block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20px;
}

.footer__copyright-item:hover {
  color: #000;
}

.top {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  max-height: 504px;
}

.top__content {
  padding: 193px 0;
  color: #fff;
}

.top__title {
  margin-bottom: 15px;
}

.top__text {
  margin-bottom: 25px;
}

.top__btn {
  background-color: transparent;
  border: none;
  color: #fff;
  letter-spacing: 1.4px;
  cursor: pointer;
}

.top__btn:hover {
  color: blanchedalmond;
}

.workspace {
  margin-bottom: 65px;
}

.workspace__info {
  padding: 90px 0;
  text-align: center;
}

.workspace__title {
  margin-bottom: 30px;
}

.workspace__text {
  margin-bottom: 30px;
  color: #A0A0A0;
  line-height: 24px;
}

.workspace__link {
  line-height: 24px;
  letter-spacing: 1.4px;
}

.workspace__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workspace__item-img {
  margin-bottom: 50px;
}

.workspace__item-title {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.workspace__item-link {
  letter-spacing: 1.4px;
  text-align: center;
}

.products {
  padding-top: 50px;
}

.products__title {
  text-align: center;
  font-size: 33px;
  line-height: 36px;
  margin-bottom: 25px;
}

.products__text {
  font-size: 15px;
  color: #A0A0A0;
  text-align: center;
  margin-bottom: 50px;
}

.products__slider {
  padding-top: 50px;
  margin-bottom: 65px;
}

.products__slider-img {
  margin-bottom: 25px;
}

.products__slider-title, .products__slider-price {
  color: #A0A0A0;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.products__slider-title {
  margin-bottom: 15px;
}

.products__slider-price {
  margin-bottom: 30px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-580px);
          transform: translateY(-580px);
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots button {
  padding: 0;
  border-radius: none;
  font-size: 0;
  width: 7px;
  height: 7px;
  background-color: #000;
  color: #000;
  border: none;
}

.inspiration {
  background-image: url("../images/inspiration-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  max-height: 504px;
  margin-bottom: 40px;
}

.inspiration__content {
  padding: 193px 0;
  color: #fff;
}

.inspiration__title {
  margin-bottom: 15px;
  font-size: 66px;
  line-height: 70px;
}

.inspiration__text {
  margin-bottom: 25px;
  letter-spacing: 0.8px;
}

.inspiration__btn {
  background-color: transparent;
  border: none;
  color: #fff;
  letter-spacing: 1.4px;
  cursor: pointer;
}

.inspiration__btn:hover {
  color: blanchedalmond;
}

.history {
  padding: 50px 0;
}

.history__content {
  text-align: center;
}

.history__title {
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 20px;
}

.history__text {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #A0A0A0;
  letter-spacing: 0.8px;
  margin-bottom: 40px;
  width: 777px;
}

.history__img {
  display: inline-block;
}

.team {
  padding: 50px 0;
  text-align: center;
}

.team__title {
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 30px;
}

.team__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #A0A0A0;
  margin-bottom: 80px;
  width: 777px;
  display: inline-block;
}

.team__photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 24px;
}

.join {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
}

.join__title {
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 40px;
}

.join__link {
  letter-spacing: 1.4px;
}

.tagline {
  padding: 117px 0 117px 0;
  background-color: #9AA8B1;
  text-align: center;
  color: #fff;
  width: 1340px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.tagline__logo {
  display: inline-block;
  margin-bottom: 40px;
}

.tagline__title {
  margin-bottom: 40px;
}

.tagline__text {
  letter-spacing: 0.8px;
}
/*# sourceMappingURL=style.css.map */